package com.genx.${domainModel.tenant}.processor.base.${domainModel.packageName}.${processor.packageName};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.BindingResult;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import org.springframework.stereotype.*;

import java.util.List;
import java.util.Map;

/**
 * @author SD
 * @date ${.now?string["yyyy/MM/dd"]}
 */
public class ${domainModel.tenant?cap_first}${domainModel.className}${processor.suffix} {

}