package com.genx.base.${domainModel.packageName}.${processor.packageName};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.BindingResult;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import org.springframework.stereotype.*;
import org.springframework.data.repository.PagingAndSortingRepository;

import com.genx.base.${domainModel.packageName}.${generatorInfo.modelPackage}.*;
import com.genx.base.${domainModel.packageName}.${generatorInfo.repositoryPackage}.*;

import java.util.*;

/**
 * @author SD
 * @date ${.now?string["yyyy/MM/dd"]}
 */
@Repository
public interface ${domainModel.className}${processor.suffix} extends PagingAndSortingRepository<${domainModel.className}, String> {
	Optional<${domainModel.className}> findByUidIs(String uid);
}