package com.genx.${domainModel.tenant}.processor.base.${domainModel.packageName}.${processor.packageName};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.BindingResult;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import org.springframework.stereotype.*;
import lombok.Data;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;

import java.util.List;
import java.util.Map;
import org.springframework.data.annotation.Id;
import com.fasterxml.jackson.annotation.JsonFormat;
import java.util.Date;
import java.time.LocalDateTime;
import java.time.LocalDate;

/**
 * @author SD
 * @date ${.now?string["yyyy/MM/dd"]}
 */
@NoArgsConstructor
@AllArgsConstructor
@Data
@Builder
public class ${domainModel.tenant?cap_first}${domainModel.className} {

	@Id
	private String id;
	
	private String uid;
	
    <#list domainModel.fields as field>

    private <#if field.javaSupType??>${field.javaSupType}<</#if><#if field.javaType=="LocalDate" || field.javaType=="LocalDateTime">Long<#else>${field.javaType}</#if><#if field.javaSupType??>></#if> ${field.id};

    </#list>
	
}