import { fetchUtils } from 'react-admin';
import { stringify } from 'query-string';
import AxiosInstance from '../../../AxiosInstance';
import moment from 'moment'

const apiUrl = '/api/${domainModel.tenant}';
const httpClient = fetchUtils.fetchJson;

export default {
    getList: (resource, params) => {
        const { page, perPage } = params.pagination;
        const { field, order } = params.sort;
        console.log("user")

        const q = {
            page: page - 1,
            size: perPage,
            "query": params.filter
        }
        
        const newFilter = {}
        Object.keys(q.query).forEach(k => {
			if(q.query[k] !== undefined) {
				if (q.query[k]===false) {
					newFilter[k] = {$in : [q.query[k], null]}
				}
				else {
            		
            		newFilter[k] = q.query[k]
            	}
            }
        })
        q.query = newFilter
        
        <#list domainModel.fields as field>
        <#if field.javaSupType?? && field.javaSupType="List">
        if(q.query.${field.id}) {
			q.query.${field.id}={$in: q.query.${field.id}}
		}
        <#elseif field.javaType="LocalDate" || field.javaType=="LocalDateTime">
        if(q.query.${field.id}$start) {
            q.query.${field.id} = {...q.query.${field.id}, $gte: moment(q.query.${field.id}$start).valueOf()}
            delete q.query.${field.id}$start

        }

        if(q.query.${field.id}$end) {
            q.query.${field.id} = {...q.query.${field.id}, $lte: moment(q.query.${field.id}$end).valueOf()}
            delete q.query.${field.id}$end

        }
        <#elseif field.javaType="Long">
        if(q.query.${field.id}$start) {
            q.query.${field.id} = {...q.query.${field.id}, $gte: q.query.${field.id}$start}
            delete q.query.${field.id}$start

        }

        if(q.query.${field.id}$end) {
            q.query.${field.id} = {...q.query.${field.id}, $lte: q.query.${field.id}$end}
            delete q.query.${field.id}$end

        }
        <#elseif field.javaType="String">
        if(q.query.${field.id}) {
        q.query.${field.id}={$regex: '.*' + q.query.${field.id} + '.*', $options: 'i'}
        }
        </#if>
        
        </#list>
        
        

        return AxiosInstance.post(apiUrl + "/" + resource + "/q" , q).then((response) => ({
            data: response.data.content.map(d => {d.id=d.uid; return d}),
            total: response.data.totalElements
        }))
    },

    getOne: (resource, params) =>
        AxiosInstance.get(apiUrl + "/" + resource + "/" + params.id).then((response) => ({
            data: response.data,
        })),

    getMany: (resource, params) => {
        console.log(params)
        console.log("get many")
        const q = {
            page: 0,
            size: 100,
            "query": {}
        }

        return AxiosInstance.post(apiUrl + "/" + resource + "/q", q)
        .then((response) => ({
            data: response.data.content.map(d => {d.id=d.uid; return d}),
            total: response.data.totalElements
        }))
    },

    getManyReference: (resource, params) => {
        const { page, perPage } = params.pagination;
        const { field, order } = params.sort;

        const q = {
            page: page - 1,
            size: perPage,
            "query": params.filter
        }

        return AxiosInstance.post(apiUrl + "/" + resource + "/q", q)
        .then((response) => ({
            data: response.data.content.map(d => {d.id=d.uid; return d}),
            total: response.data.totalElements
        }))
    },

    update: (resource, params) => {
		<#list domainModel.fields as field>
        <#if field.javaType=="LocalDate" || field.javaType=="LocalDateTime">
        params.data.${field.id} = moment(params.data.${field.id}).valueOf()
        </#if>
        </#list>
        return AxiosInstance.put(apiUrl + "/" + resource + "/" + params.id, params.data)
            .then((response) => ({ data: response.data }))
    },

    updateMany: (resource, params) => {
        const query = {
            filter: JSON.stringify({ id: params.ids}),
        };
        return AxiosInstance.put(apiUrl + "/" + resource + "/" + stringify(query), params.data)
            .then(({ json }) => ({ data: json }));
    },

    create: (resource, params) => {
        console.log(params.data)
        <#list domainModel.fields as field>
        <#if field.javaType=="LocalDate" || field.javaType=="LocalDateTime">
        params.data.${field.id} = moment(params.data.${field.id}).valueOf()
        </#if>
        </#list>
       
        console.log(params.data)
        return AxiosInstance.post(apiUrl + "/" + resource, params.data)
        .then((response) => ({
            data: { ...params.data, id: response.data.uid },
        }))
    },

    delete: (resource, params) =>
        AxiosInstance.delete(apiUrl + "/" + resource + "/" + params.id)
            .then((response) => ({ data: response.data })),

    deleteMany: (resource, params) => {
        const query = {
            filter: JSON.stringify({ id: params.ids}),
        };
        return AxiosInstance.delete(apiUrl + "/" + resource + "/" + params.ids)
        	.then(({  }) => ({ data: [] }));
    }
};