import * as React from "react";
import {
    List,
    Datagrid,
    TextField,
    ReferenceField,
    EditButton,
    Edit,
    SimpleForm,
    ReferenceInput,
    SelectInput,
    TextInput,
    Create,
    Filter,
    SimpleList,
    useRecordContext,
    useCreateController,
    FormDataConsumer,
    useGetOne,
    useDataProvider,
    AutocompleteInput
} from 'react-admin';
import Emitter from "../../../emitter";
import { useForm } from 'react-final-form'

const ${field.name} = props => {
    const form = useForm();
    const dataProvider = useDataProvider();

    return (
        <ReferenceInput {...props} label="${field.title}" source="${field.id}" reference="${field.referenceModelId}" 
        	perPage={100} 
            onChange={(e) => {
            	e.preventDefault()
                 
                Emitter.emit("techsupport_authorizedPersonId_changed", {event: e, form: form, dataProvider: dataProvider})

                return true
            }}>
            <SelectInput  {...props}
             	optionText={record => ${field.referenceTitleFromRecord}}
            />
        </ReferenceInput>
    )
}