import { createSlice } from '@reduxjs/toolkit'

const initialState = {  }

const ${domainModel.id}ShowColumnSlicer = createSlice({
  name: '${domainModel.id}ShowColumnSlicer',
  initialState,
  reducers: {
    show(state, action) {
        //console.log(action)
        //console.log(state)
        Object.keys(action.payload).forEach(c => {
          //console.log(c)
          state[c] = action.payload[c]
        })
      //console.log(state)
    },
  },
})

export const { show } = ${domainModel.id}ShowColumnSlicer.actions
export default ${domainModel.id}ShowColumnSlicer.reducer