import * as React from "react";
import {
    List,
    Datagrid,
    TextField,
    ReferenceField,
    EditButton,
    Edit,
    SimpleForm,
    ReferenceInput,
    SelectInput,
    NumberInput,
    Create,
    Filter,
    SimpleList,
    useRecordContext,
    useCreateController,
    FormDataConsumer,
    useGetOne,
    useDataProvider,
    AutocompleteInput
} from 'react-admin';

import { useForm, useFormState } from 'react-final-form'

import Emitter from "../../../../emitter";

const <@upperFC>${field.id}</@upperFC> = props => {
    const form = useForm();
    const dataProvider = useDataProvider();
    const { values } = useFormState()

    return (
        <NumberInput {...props} format={v => v * 100} parse={v => parseFloat(v) / 100} <#if field.longText>multiline</#if> source="${field.id}" disabled={values.disable${field.id?cap_first}} />
    )
}

export default <@upperFC>${field.id}</@upperFC>