import { useEffect, useReducer, useState } from "react";
import { useTranslation } from "react-i18next";
import { Accordion, Button, Dropdown, Grid, Header, Icon, Image, Input, Label, Modal, Pagination, Table } from "semantic-ui-react"
import * as i18nIsoCountries from 'i18n-iso-countries';
import i18n from 'i18next';

import jsonServerProvider from 'ra-data-json-server';
import { useHistory } from "react-router-dom";
import AxiosInstance from "../../AxiosInstance";
import {
    DateInput,
    TimeInput,
    DateTimeInput,
    DatesRangeInput
  } from 'semantic-ui-calendar-react';

const dataProvider = jsonServerProvider('https://jsonplaceholder.typicode.com');

function exampleReducer(state, action) {
    switch (action.type) {
        case 'close':
            return { open: false }
        case 'open':
            return { open: true, size: action.size }
        default:
            throw new Error('Unsupported action...')
    }
}

export const ${domainModel.className}List = props => {
    const { t } = useTranslation();
    const [toBeDeletedEntity, setToBeDeletedEntity] = useState({})
    const [openDeleteEntityModal, setOpenDeleteEntityModal] = useState(false)

    const [state, dispatch] = useReducer(exampleReducer, {
        open: false,
        size: undefined,
    })

    const { open, size } = state
    const [toBeUpdatedEntity, setToBeUpdatedEntity] = useState({})
    const [openEntity, setOpenEntity] = useState(false)
    const [filter, setFilter] = useState({page: 0, size: 10, query: {}})
    const [pagination, setPagination] = useState({activePage: 1, totalPages: 1})
    const [addedFilters, setAddedFilters] = useState({})

    const [entities, setEntities] = useState([])
    const [openFilters, setOpenFilters] = useState(false)

    const history = useHistory();

    useEffect(() => {
        AxiosInstance.post("/${domainModel.id}/q", filter).then(response => {
            console.log(response)
            setEntities(response.data.content)
            setPagination({...pagination, totalPages: response.data.totalPages})

        })
    }, [])

    useEffect(() => {
        AxiosInstance.post("/${domainModel.id}/q", filter).then(response => {
            console.log(response)
            setEntities(response.data.content)
            setPagination({...pagination, totalPages: response.data.totalPages})

        })
    }, [filter])

    const onEntityClick = (e, entity) => {
        console.log("onEntityClick")
        console.log(entity)
        return false
    }

    const onEditEntity = (e, entity) => {
        console.log("onEditEntity")
        console.log(entity)
        history.push("/${domainModel.id}/" + entity.uid);
    }

    const onDeleteEntity = (e, entity) => {
        e.preventDefault()
        setOpenDeleteEntityModal(!openDeleteEntityModal)
        console.log("onDeleteEntity")
        console.log(entity)
        setToBeDeletedEntity(entity)
    }

    const onEntityDeleted = (e, entity) => {
        e.preventDefault()
        setOpenDeleteEntityModal(!openDeleteEntityModal)
        console.log("onEntityDeleted")
        console.log(toBeDeletedEntity)

        console.log(entity)

        AxiosInstance.delete("/${domainModel.id}/" + toBeDeletedEntity.uid).then(response => {
            console.log(response)
            AxiosInstance.post("/${domainModel.id}/q", filter).then(response => {
                console.log(response)
                setEntities(response.data.content)
                setPagination({...pagination, totalPages: response.data.totalPages})

            })
        })

    }

    const onPageChange = (e, data) => {
        console.log(data)
        const activePage = data.activePage

        setFilter({...filter, page: activePage - 1})
    }

    const onAddFilter = (e, key) => {
        console.log(key)
    }

    const onOpenFilters = (e, key) => {
        setOpenFilters(!openFilters)
    }
    
    <#list domainModel.fields as field>
    <#if field.javaSupType?? && field.javaSupType == "List">
    const on<@upperFC>${field.id}</@upperFC>FilterChange = (e, {name, value}) => {
        console.log("onEmailsFilterChange")

        console.log(value)
        addedFilters.${field.id}=value.map(v => {return {value: v, key: v, text: v}})
        setAddedFilters(addedFilters)
        console.log(addedFilters)
        if (value.length > 0) {
            setFilter({...filter, query: {...filter.query, ${field.id}: {$in: value}}})
        }
        else {
            delete filter.query.${field.id}
            setFilter({...filter})
        }
    }
    const on<@upperFC>${field.id}</@upperFC>FilterSearch = (e, {name, value}) => {
        console.log("on<@upperFC>${field.id}</@upperFC>FilterSearch")

        console.log(value)
    }
    const on<@upperFC>${field.id}</@upperFC>FilterAdd = (e, {name, value}) => {
        console.log("on<@upperFC>${field.id}</@upperFC>FilterAdd")
        console.log(value)
    }
    <#elseif field.javaType == "String">
    const on<@upperFC>${field.id}</@upperFC>FilterChange = (e, {name, value}) => {
	     addedFilters.${field.id} = value

        if (value != "") {
            setFilter({...filter, query: {...filter.query, ${field.id}: {$regex: ".*" + value + ".*"}}})
        }
        else {
            delete filter.query.${field.id}
            setFilter({...filter})
        }
    }
    <#elseif (field.javaType == "LocalDate" || field.javaType == "LocalDateTime")>
    const on<@upperFC>${field.id}</@upperFC>StartFilterChange = (e, {name, value}) => {
        setAddedFilters({...addedFilters, ${field.id}Start: value})
        if (value != "") {
            setFilter({...filter, query: {...filter.query, ${field.id}: {...filter.query.${field.id}, $gt: value}}})
        }
        else {
            delete filter.query.${field.id}["$gt"]

            if (!filter.query.${field.id}["$lt"]) {
                delete filter.query.${field.id}
            }
            setFilter({...filter})
        }
    }
    const on<@upperFC>${field.id}</@upperFC>EndFilterChange = (e, {name, value}) => {
        setAddedFilters({...addedFilters, ${field.id}End: value})
        if (value != "") {
            setFilter({...filter, query: {...filter.query, ${field.id}: {...filter.query.${field.id}, $lt: value}}})
        }
        else {
            delete filter.query.${field.id}["$lt"]
            if (!filter.query.${field.id}["$gt"]) {
                delete filter.query.${field.id}
            }
            setFilter({...filter})
        }
    }
    </#if>
    </#list>

    return (
        <div>
            
            <Table compact striped selectable >
                <Table.Header>
                
                    <Table.Row >
                        <Table.HeaderCell textAlign='center' colSpan={2} width={4}>
                            <Button
                                floated='left'
                                icon='add'
                                labelPosition='left'
                                primary
                                label={"New"}
                                size='small'
                                onClick={(e) => {
                                    history.push("/${domainModel.id}")
                                }} />
                        </Table.HeaderCell>
                        <Table.HeaderCell textAlign='center' colSpan={2} width={4}>
                            {/* <Dropdown
                                text='Add Filter'
                                icon='filter'
                                floating
                                labeled
                                button
                                className='icon'>
                                <Dropdown.Menu>
                                <Dropdown.Menu scrolling>
                                    {tagOptions.map((option) => (
                                    <Dropdown.Item key={option.value} {...option} onClick={e => onAddFilter(e, option.value)} />
                                    ))}
                                </Dropdown.Menu>
                                </Dropdown.Menu>
                            </Dropdown> */}
                        </Table.HeaderCell>
                    </Table.Row>
                    <Table.Row>
                    <Table.HeaderCell textAlign='left' colSpan={12} width={12}>
                        <Accordion>
                            <Accordion.Title
                            active={openFilters}
                            index={0}
                            onClick={onOpenFilters}>
                                
                            <Icon name='dropdown' />
                            Filters
                            </Accordion.Title>
                            <Accordion.Content active={openFilters}>
                            <Grid  celled columns={3} >
                            
                            <#list domainModel.fields as field>
                            <#if field.javaSupType?? && field.javaSupType == "List">
								<Grid.Row >
                                    <div className="ui labeled input">
                                         <Label className="label">${field.title}</Label>
                                         <Dropdown
                                            style={{minWidth: '200px'}}
                                            multiple
                                            search
                                            noResultsMessage={null}
                                            labeled
                                            label={t('${field.title}')}
                                            placeholder={t('Select ${field.title}')}
                                            fluid
                                            selection
                                            allowAdditions
                                            options={addedFilters.${field.id}}
                                            value={addedFilters.${field.id}?.map(e => e.value)}
                                            onChange={(e, {name, value}) => {
                                                on<@upperFC>${field.id}</@upperFC>FilterChange(e, {name, value})
                                            }}
                                            onAddItem={on<@upperFC>${field.id}</@upperFC>FilterAdd}
                                            onSearchChange={on<@upperFC>${field.id}</@upperFC>FilterSearch}
                                            name='${field.id}' />
                                    </div>
                                 
	                             </Grid.Row>
    						<#elseif field.javaType == "String">
                                <Grid.Row>
	                           		<Input
		                                label={t('${field.title}')}
		                                placeholder={t('${field.title}')}
		                                name='${field.id}'
		                                value={addedFilters.${field.id}}
		                                onChange={on<@upperFC>${field.id}</@upperFC>FilterChange}
		                                />
	                             </Grid.Row>
                            <#elseif field.javaType == "LocalDateTime">
                             	<Grid.Row>
                                    
	                                <Label className="labeled input">${field.title} Start</Label>
	                                <DateTimeInput
	                                    inlineLabel="${field.title} Start"
	                                    name="${field.id}Start"
	                                    placeholder="${field.title} Start"
	                                    value={addedFilters.${field.id}Start}
	                                    iconPosition="left"
	                                    clearable
	                                    onChange={on<@upperFC>${field.title}</@upperFC>StartFilterChange}
	                                    />
	                                <Label className="labeled input">${field.title} End</Label>
	                                <DateTimeInput
	                                    inlineLabel="${field.title} End"
	                                    name="${field.id}End"
	                                    placeholder="${field.title} End"
	                                    value={addedFilters.${field.id}End}
	                                    iconPosition="left"
	                                    clearable
	                                    onChange={on<@upperFC>${field.title}</@upperFC>EndFilterChange}
	                                    />
                                </Grid.Row>
                             <#elseif field.javaType == "LocalDate">
                             	<Grid.Row>
                                    
	                                <Label className="labeled input">${field.title} Start</Label>
	                                <DateInput
	                                    inlineLabel="${field.title} Start"
	                                    name="${field.id}Start"
	                                    placeholder="${field.title} Start"
	                                    value={addedFilters.${field.id}Start}
	                                    iconPosition="left"
	                                    clearable
	                                    onChange={on<@upperFC>${field.title}</@upperFC>StartFilterChange}
	                                    />
	                                <Label className="labeled input">${field.title} End</Label>
	                                <DateInput
	                                    inlineLabel="${field.title} End"
	                                    name="${field.id}End"
	                                    placeholder="${field.title} End"
	                                    value={addedFilters.${field.id}End}
	                                    iconPosition="left"
	                                    clearable
	                                    onChange={on<@upperFC>${field.title}</@upperFC>EndFilterChange}
	                                    />
                                </Grid.Row>
                            </#if>
                            </#list>
                            </Grid>
                            </Accordion.Content>
                        </Accordion>
                        </Table.HeaderCell>
                    </Table.Row>
                    <Table.Row>
                    <#list domainModel.fields as field>
                    	 <Table.HeaderCell width={1}>{t("${field.title}")}</Table.HeaderCell>
                    </#list>

                         <Table.HeaderCell width={1}><Icon name='configure' /></Table.HeaderCell>
                    </Table.Row>
                    
                </Table.Header>
            
                <Table.Body>
                    {entities?.map((entity, i) => (
                        <Table.Row key={entity.uid} onClick={(e) => onEntityClick(e, entity)} >
                        	<#list domainModel.fields as field>
                        	<Table.Cell>{entity.${field.id}}</Table.Cell>
                        	</#list>
                           
                            <Table.Cell>
                                <Dropdown icon='unordered list' direction='left'>
                                    <Dropdown.Menu>
                                        <Dropdown.Item key='edit' onClick={(e) => onEditEntity(e, entity)}>
                                            {t('Edit')}
                                        </Dropdown.Item>
                                        <Dropdown.Item key='delete' onClick={(e) => onDeleteEntity(e, entity)}>
                                            {t('Delete')}
                                        </Dropdown.Item>
                                    </Dropdown.Menu>
                                </Dropdown>

                                <Modal
                                    open={openDeleteEntityModal}
                                    onClose={(e) => {
                                        e.preventDefault()
                                        setOpenDeleteEntityModal(false)
                                        return false
                                    }}
                                    onOpen={(e) => {
                                        e.preventDefault()
                                        setOpenDeleteEntityModal(true)
                                        return false
                                    }}>

                                    <Header icon='archive' content={t('Are your sure?')} />
                                    <Modal.Content>
                                        <p>
                                            {t('Do you want to delete this entity ?')}
                                        </p>
                                    </Modal.Content>
                                    <Modal.Actions>
                                        <Button 
                                            icon='remove' 
                                            color='red' 
                                            onClick={(e) => {
                                                e.preventDefault()
                                                setOpenDeleteEntityModal(false)
                                                return false
                                            }}>
                                            {t('Cancel')}
                                        </Button>
                                        <Button 
                                            icon='checkmark' 
                                            color='green' 
                                            onClick={(e) => {
                                                e.preventDefault()
                                                setOpenDeleteEntityModal(false)
                                                onEntityDeleted(e, entity)
                                                return false
                                            }}>
                                            {t('Delete')}
                                        </Button>
                                    </Modal.Actions>
                                </Modal>
                            </Table.Cell>
                        </Table.Row>
                    ))}
                
                </Table.Body>

                <Table.Footer fullWidth>
                    <Table.Row>
                        <Table.HeaderCell colSpan={10} textAlign='center'>
                            <Pagination key='products-pagination'
                                defaultActivePage={pagination.activePage}
                                totalPages={pagination.totalPages} 
                                onPageChange={onPageChange} />
                        </Table.HeaderCell>
                    </Table.Row>
            </Table.Footer>
        </Table>
    </div>
    )
}